.hidden {
  display: none;
}

.deleteBtn {
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  padding: 5px;
  border-radius: 5px;
  width: 26px;
  height: 26px;
}

.deleteBtn:hover {
  background-color: skyblue;
  color: white;
}

body {
  background-size: 100%;
}

ul {
  list-style: none;
}

h2#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
  color: darkkhaki;
  font-size: 5em;
}

#greeting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
  color: darkkhaki;
}

#todo-form {
  display: flex;
  justify-content: center;
}

#todo-list {
  display: table;
  margin-left: auto;
  margin-right: auto;
  color: darkkhaki;
}

#weather {
  margin-top: -50px;
  float: right;
  color: darkkhaki;
}
