.hidden {
  display: none;
}

.deleteBtn {
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid skyblue;
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  padding: 5px;
  border-radius: 5px;
  width: 26px;
  height: 26px;
}

.deleteBtn:hover {
  background-color: skyblue;
  color: white;
}
